:root {
    --red-color: #C71510;
  }
  
  .logo {
    cursor: pointer;
  }
  
  /* Keyframes for the initial load animation */
  @keyframes mailIconAnimation {
    from {
      transform: translateX(30%);
    }
    to {
      transform: translateX(0%);
    }
  }
  
  @keyframes textVectorAnimation {
    from {
      transform: translateX(-15%);
      fill: transparent;
    }
    to {
      transform: translateX(0%);
      fill: var(--red-color);
    }
  }
  
  /* Apply the animations on page load */
  .textVector {
    fill: transparent;
    animation: textVectorAnimation 0.75s ease-in-out 0.25s forwards; /* 0.25s delay for text */
  }
  
  .mailIcon {
    stroke-width: 24px;
    stroke: var(--red-color);
    animation: mailIconAnimation 0.5s ease-in-out forwards;
  }
  
  /* Ensure transition properties remain if you want to add more interactivity later */
  .textVector, .mailIcon {
    transition: all 0.5s ease;
  }
  